*{
    margin: 0;
    padding: 0;
}

#image{
    background-image: url('images/0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.btns{
    position: absolute;
    top:90%;
    left: 90%;
}

button{
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    padding: 7px;
    width: 50px;
}

button:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}
