*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.root{
    background-color:black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time{
    height: 200px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    color: rgb(15, 73, 15);
    text-align: center;
    font-size: 150px;
}
